<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CGestor</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/jsoneditor/dist/jsoneditor.min.css">
</head>

<body>
    <div id="app">

        <!-- Heading -->
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a href="#" class="navbar-brand mb-0 h1">
                C Gestor
            </a>
            <div class="form-inline">
                <button class="btn btn-outline-success mr-2" @click="run" v-if="running===false">
                    Iniciar
                </button>
                <button class="btn btn-outline-warning mr-2" @click="stop" v-if="running===true">
                    Detener
                </button>
                <button class="btn btn-outline-primary" @click="save">
                    Guardar
                </button>
            </div>
        </nav>

        <div ref="jsoneditor" style="margin-top: 6px; width: 100%; height: 100%;" class="container-fluid">
        </div>
    </div>
</body>
<script src="./node_modules/jsoneditor/dist/jsoneditor.min.js"></script> 
<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="./app.js"></script>
</html>